<launch>
  <arg name="map_name" default="edited/edited_map.bag"/>
  <param name="map_path" value="$(find traversability_pipeline)/data/$(arg map_name)"/>
  <node pkg="traversability_pipeline" type="load_map" name="load_map" output="screen"/>
  <!-- <node name="rviz" pkg="rviz" type="rviz"/> -->
</launch>