<launch> 

    <arg name="map_name" default="traversability.bag"/>
    <param name="map_path" value="$(find traversability_pipeline)/data/$(arg map_name)"/>
    <node pkg="traversability_pipeline" type="load_map" name="load_map" output="screen"/>
    
    
    <param name="grid_map_topic" value="/grid_map"/>
    <param name="file_path" value="$(find traversability_pipeline)/data/elevation.png"/>
    <param name="layer" value="elevation"/>
    <node name="map_to_image" pkg="traversability_pipeline" type="map_to_image" output="screen" />

</launch>