<launch> 
    <arg name="map" default="map_ss_001"/>

    <include file="$(find grid_map_pcl)/launch/grid_map_pcl_loader_node.launch">
        <arg name="folder_path" value="$(find traversability_pipeline)/data" />
        <arg name="pcd_filename" value="$(arg map).pcd" />
        <arg name="output_grid_map" value="(arg map).bag"/>
        <arg name="map_frame" value="map"/>
        <arg name="map_layer_name" value="elevation"/>
    </include>
</launch>